<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Add new job</h2>
    </div>
    <div class="panel-body">
        <ng-form name="jobAddForm">
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': jobAddForm.jobIdInput.$invalid }">
                        <!--TODO#HR2-->
                        <label for="jobIdInput">Job Id : </label>
                        <input id="jobIdInput" name="jobIdInput" ng-model="job.jobId" class="form-control" required>

                    </div>
                </div>
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': jobAddForm.jobTitleInput.$invalid }">
                        <!--TODO#HR2-->
                        <label for="jobTitleInput">Job Title : </label>
                        <input id="jobTitleInput" name="jobTitleInput" ng-model="job.jobTitle" class="form-control" required>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': jobAddForm.maxSalaryInput.$invalid }">
                        <!--TODO#HR2-->
                        <label for="maxSalaryInput">Maximum Salary : </label>
                        <input type="number" id="maxSalaryInput" name="maxSalaryInput" ng-model="job.maxSalary" class="form-control" required>

                    </div>
                </div>
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': jobAddForm.minSalaryInput.$invalid }">
                        <!--TODO#HR2-->
                        <label for="minSalaryInput">Minimum Salary : </label>
                        <input type="number" id="minSalaryInput" name="minSalaryInput" ng-model="job.minSalary" class="form-control" required>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    <div class="container">
                        <!--TODO#HR4-->
                        <button name="saveButton" ng-disabled="jobAddForm.$invalid" ng-click="create(job)">Create job</button>
                        <button name="resetButton" ng-click="reset()">Reset</button>
                    </div>
                </div>
            </div>
        </ng-form>
    </div>
</div>