<table class="table table-striped">
    <tr>
        <th>Job ID</th>
        <th>Job Title</th>
        <th>Minimum Salary</th>
        <th>Maximum Salary</th>
        <th class="col-lg-3 text-center">Actions</th>
    </tr>
    <tr ng-repeat="job in jobs">
        <td class="text-center">
            {{job.jobId}}
        </td>
        <td class="text-center">
            {{job.jobTitle}}
        </td>
        <td class="text-center">
            {{job.minSalary}}
        </td>
        <td class="text-center">
            {{job.maxSalary}}
        </td>
        <!--TODO add View button-->
        <td class="text-center">
            <button type="button" class="btn btn-link" ng-click="viewJob(job.jobId)">View</button>
            <!--TODO#HR6-->
            <button type="button" class="btn btn-link" ng-click="editJob(job.jobId)">Edit</button>
        </td>
    </tr>
</table>
