<div class="container">


    <div class="panel-body">
        <!--TODO #1 create the select element-->
        <select ng-change="changeColor()" ng-model="myColor"  ng-options="color.text for color in colors track by color.text" id="selectColor">

        </select>
        <br>
        <!--TODO #4-->
        <span ng-class="color">Some text</span>
    </div>

    <p>---------------------------</p>

    <input id="filterInput" ng-model="filterOption">
    <input id="orderInput" ng-model="orderOption">

    <ul id="colorList">
        <li ng-repeat="color in (colors| filter : filterOption )| orderBy : orderOption">{{color.text}}</li>
    </ul>
    <!--TODO#8-->

</div>