<div class="container">

    <!--TODO #5 create the ng-form element -->
    <ng-form name="myForm" ng-controller="Form" class="my-form">
        Some input: <input name="testInput" ng-model="firstInput" required>
        <!--TODO#7-->
        <span class="error" ng-show="myForm.testInput.$error.required">Camp Required</span>
        <br>
        userType = {{userType}}<br>
        <p>Input properties</p>
        <!--TODO#6-->
        myForm.testInput.$pristine = {{myForm.testInput.$pristine}}<br>
        myForm.testInput.$dirty = {{myForm.testInput.$dirty}}<br>
        myForm.testInput.$valid = {{myForm.testInput.$valid}}<br>
        myForm.testInput.$invalid = {{myForm.testInput.$invalid}}<br>
        myForm.testInput.$submitted = {{myForm.testInput.$submitted}}<br>
        myForm.testInput.$error = {{myForm.testInput.$error}}<br>

        <p>Form Properties</p>
        <!--TODO #5 list form properties values-->

        myForm.$pristine = {{myForm.$pristine}}<br>
        myForm.$dirty = {{myForm.$dirty}}<br>
        myForm.$valid = {{myForm.$valid}}<br>
        myForm.$invalid = {{myForm.$invalid}}<br>
        myForm.$submitted = {{myForm.$submitted}}<br>
        myForm.$error = {{myForm.$error}}<br>


    </ng-form>

</div>